/* The Beginning of Travel html page..... */

h1 {
  font-size: 25px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid rgb(247, 175, 41);
  border-top: 2px solid rgb(247, 175, 41);
  border-radius: 10px;
  background-color: rgb(12, 178, 178);
  color: white;
}

.pic1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 3;
  gap: 1em;
  margin: 10px;
  padding: 10px;
}

.paragraph-div {
  position: relative;
  float: left;
  text-align: center;
  font-size: 25px;
}

.paragraph-text {
  text-align: center;
  margin: 10px;
}

.text-adj {
  margin-top: 20px;
}

.nav-link-prop {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 10px;
  border: solid rgb(247, 175, 41) 1px;
  background-color: rgb(12, 178, 178);
  border-radius: 10px;
}

.list-prop {
  display: flex;
  background-color: rgb(247, 175, 41);
  justify-content: center;
  list-style-type: none;
  width: 75px;
  margin: 0px auto;
  border: solid white 1px;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: white;
}

.img-prop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.img-align {
  padding: 10px;
  margin: 0px auto;
  float: left;
}

footer {
  background-color: rgb(12, 178, 178);
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
}
.footer-contacts {
  text-align: center;
  width: 175px;
  color: white;
  list-style-type: none;
  float: left;
  margin: 25px;
  border: solid white 1px;
  background-color: rgb(247, 175, 41);
  border-radius: 10px;
  margin-top: 50px;
}

@media (max-width: 1321px) {
  .pic1 {
    display: flex;
    justify-content: center;
    flex: wrap;
  }
}
@media (max-width: 1321px) {
  .img-prop {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
@media (max-width: 751px) {
  footer {
    background-color: rgb(12, 178, 178);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 731px) {
  .footer-contacts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px auto;
  }
}

@media (max-width: 586px) {
  .footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    gap: 1rem;
    text-align: center;
  }
}
@media (max-width: 586px) {
  .p-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }
}

/* The end of Travel html page..... */

/* The Beginning of Home html page..... */

.travel-tag-link-adj {
  display: flex;
  background-color: rgb(247, 175, 41);
  justify-content: center;
  width: 150px;
  margin: 0px auto;
  border: solid white 1px;
  border-radius: 10px;
}

.set-home-section {
  display: flex;
  margin: 0px auto;
  /* border: solid black 2px; */
  max-width: 1190px;
}

.set-home-div-section {
  display: flex;
  justify-content: center;
  margin: 8px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  width: 375px;
  height: 450px;
  background-color: rgb(12, 178, 178);
  border: solid rgb(247, 175, 41) 1px;
  border-radius: 10px;
  color: white;
}

.float-text {
  font-size: 25px;
  text-align: center;
}
.float-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
}

.card-text {
  font-size: 19px;
}

.detail-link {
  display: flex;
  font-size: 15px;
  background-color: rgb(247, 175, 41);
  justify-content: center;
  width: 75px;
  margin: 0px auto;
  border: solid white 1px;
  border-radius: 10px;
}

.set-div-more-fun {
  display: flex;
  justify-content: center;
}

.more-fun-content {
  display: flex;
  background-color: rgb(12, 178, 178);
  border: solid rgb(247, 175, 41) 1px;
  border-radius: 10px;
  justify-content: left;
  padding: 10px;
  width: 900px;
}

.night-life-float-text {
  color: white;
  font-size: 25px;
  text-align: center;
}

.night-life-img {
  border-radius: 10px;
}

.night-text {
  color: white;
  margin: 0px auto;
}

.night-card-center {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.details-div {
  display: flex;
  /* border: solid black 1px; */
  margin-top: 25px;
}

.night-details-link {
  display: flex;
  justify-content: center;
  font-size: 15px;
  background-color: rgb(247, 175, 41);
  justify-content: center;
  width: 75px;
  margin: 0px auto;
  border: solid white 1px;
  border-radius: 10px;
}

.home-page-footer {
  background-color: rgb(12, 178, 178);
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  border-radius: 10px;
}

@media (max-width: 1182px) {
  .set-home-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .set-home-divs-section {
    display: flex;
    justify-content: center;
  }
}

/* The end of Home html page..... */

/* The Beginning of About html page..... */

.about-section-adj {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 975px;
  height: 475px;
  margin: 0px auto;
  margin-bottom: 10px;
  /* border: solid black 2px; */
}

.about-section-div-adj-1 {
  display: flex;
}
.about-section-div-adj-2 {
  display: flex;
  width: 350px;
  flex-direction: column;
  background-color: rgb(12, 178, 178);
  border: solid rgb(247, 175, 41) 1px;
  border-radius: 10px;
  color: white;
}

.about-section-div-adj-3 {
  display: flex;
  width: 450px;
  flex-direction: column;
  /* border: solid black 2px; */
}

.our-story-color-adj {
  background-color: rgb(247, 175, 41);
  width: 320px;
}

.card-inside-text-adj {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  text-align: center;
}

.inside-card-adj {
  display: flex;
  justify-content: center;
}

.img-about-div-adj {
  display: flex;
  justify-content: center;
}

.img-about-adj {
  border-radius: 10px;
}

.our-future-text-adj {
  text-align: center;
}

@media (max-width: 938px) {
  .about-section-adj {
    display: flex;
    margin-top: 5px;
    gap: 1.5rem;
    justify-content: center;
  }
}

@media (max-width: 908px) {
  .about-section-adj {
    display: flex;
    align-items: center;
    width: 750px;
    height: 695px;
  }

  .about-section-div-adj-2 {
    width: 350px;
    height: 250px;
  }
}

@media (max-width: 760px) {
  .about-section-adj {
    display: flex;
    width: 500px;
    justify-content: center;
  }

  .about-section-div-adj-2 {
    width: 350px;
    height: 250px;
  }
}

/* The end of About html page..... */

/* The beginning of Contact html page..... */

.contact-section-adj {
  display: flex;
  justify-content: center;
}

.contact-div-adj {
  color: white;
  display: flex;
  width: 750px;
  height: 550px;
  justify-content: center;
  background-color: rgb(12, 178, 178);
  border: solid rgb(247, 175, 41) 1px;
  border-radius: 20px;
}

.contact-name-input {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 50px;
}

input {
  display: flex;
  margin: 10px;
}

.comment-input {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.comment-label {
  display: flex;
  justify-content: center;
}

.text-area {
  width: 350px;
  height: 200px;
}

.submit-div {
  display: flex;
  justify-content: center;
}

.submit-btn {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  font-size: 14px;
  width: 75px;
  color: white;
  background-color: rgb(247, 175, 41);
  border: white solid 1px;
  border-radius: 10px;
}

.contact-footer {
  margin-top: 10px;
}

/* The end of Contact html page..... */
